


.breadcrumb {
  position: absolute;
  top:100px;
  left: 100px;
  background: #FFF;
  border: 1px solid #CCC;
  padding: 10px;

    ul {
      margin:0;
      li {
        margin:0;
        padding: 10px;
        display: inline;
        border-left: 1px solid #CCC;
        &:first-child {
            border-left: none;
        }
        &:hover {
          background: #F0F0F0;
        }
      }
  }
}
