@import "compass/css3";
@import "base";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

h4 {font:bold 13px "Open Sans"; color:#999999; text-transform:uppercase}

a, a:active, a:visited { color: $link-color; text-decoration:none;}
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  font-size: 11px;  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

html, body {
  width: 100%;
  height: 100%;
}

body.tool {
  background-color: #000;

  /* LAYOUT */
  .container {
    position: relative;
    width: 100%;
    height:100%;
  }

  .inner {
    width:$layout_width;
    margin:0 auto;
  }

  /* HEADER */
  header {
    height:88px;
    padding:10px 0;
    h1 {float:left; margin:0; padding:0;}
    nav {
      float:right;
      width:610px;
      margin:21px 0 0 0;
      a {
        margin:0 0 0 10px;
        padding:4px 10px 4px;
        border:1px solid #252525;
        @include border-radius(3px);
        font:normal 17px "Open Sans";
        color:white;
        letter-spacing:-1px;
        &:hover {border-color:rgba(255,255,255,0.7)}
      }
    }
    &.country {
      position:relative;
      height:65px;
      padding:25px 0 0 0;
      z-index:100;
    }

    form {
      margin:0 7px 0 0;
      width:180px;
      input[type="text"] {width:145px; padding:4px 26px 5px 9px; margin:0; font-size:16px; letter-spacing:-1px}
      input[type="submit"] {top:10px; right:5px;}
    }
  }

  /* HOME SUBHEADER */
  article.subheader {
    margin:0;

    section.title {
      width:755px;
      p {letter-spacing:-1px}
    }
    form {
      width:250px;
      margin:64px 0 0;
      input[type="text"] {width:219px; font:normal 17px "Open Sans";}
    }
  }

  /* COUNTRIES LIST */
  article.countries {
    @include inline-block();
    width:100%;
    letter-spacing:-4px;

    section.column {
      @include inline-block();
      width:255px;
      margin-right:20px;
      letter-spacing:0;
      section.column:last-child {margin:0}

      ul {
        margin:15px 0 0 0;
      }
    }
  }

  /* MAIN COUNTRY */
  article.country {
    position:relative;
    @include inline-block();
    width:530px;
    margin:0 0 0 50%;
    right:55px;
    z-index:10;
    display: none;
  }

  /* COUNTRY FLOAT ELEMENTS */
  span.bar {
    position:absolute;
    height:2px;
    background:white;
    z-index:5;

    &.l {left:0; width:50%; min-width:510px; margin-left:-100px}
    &.r {right:0; width:50%; min-width:65px; margin-right:-487px}
    &.top {top:120px;}
    &.bottom {position:relative; margin:20px 0 0 0; display:block; width:100%;}
    &.darker {background:#2A2B2C}
  }
  a.pag {
    position:absolute;
    top:50%;
    margin:-30px 0 0 0;
    padding:25px 5px;
    background: #FF3333;
    z-index:100;
    color:#333333;
    &.left {left:0}
    &.right {right:0}
    &:hover {color:white; cursor:pointer}
  }




  /* ELEMENTS */

  /* slider */
  .slider {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    display:block;
    padding:21px 21px 21px 82px;
    margin:0;
    height:29px;
    z-index:100;
    @include background-image(linear-gradient(#f3f3f3, #cacaca));

    span.shadow {
      position:absolute;
      top:-20px;
      left:0;
      width:100%;
      height:20px;
      @include background-image(linear-gradient(rgba(0,0,0,0),#000000));
    }

    span.canvas {
      position:relative;
      display:block;
      height:27px;
      @include background-image(linear-gradient(#cecece, #cdcdcd));
      border: 1px solid #B4B4B4;
      @include border-radius(5px);
    }

    div.horizontal {
      position:absolute;
      left:100px;
      top:28px;
      right:38px;
      display:block;
      height:15px;
      z-index:10;

      a.ui-slider-handle {
        position:absolute;
        width:89px;
        height:46px;
        top:-42px;
        left:0;
        padding:11px 0 0 0;
        margin:0 0 0 -44px;
        font:bold 13px "Open Sans";
        text-align:center;
        line-height:13px;
        color:#F1F1F1;
        z-index:10;
        @include icons-sprite(handle);
        &:focus {outline:none}
      }
    }

    a.animation {
      position:absolute;
      display:block;
      top:18px;
      left:16px;
      border:1px solid #999999;
      @include box-shadow(white,0,1px,0,0);
      width:55px;
      height:33px;
      text-indent:-9999px;
      text-transform:uppercase;
      line-height:0;
      font-size:0;
      @include border-radius(3px);
      @include background-image(linear-gradient(#f3f3f3, #cacaca));
      
      span {
        position:absolute;
        top:50%;
        left:50%;
        margin:-5px 0 0 -6px;
        height:13px;
        width:12px;
        @include icons-sprite(play);
      }
      &.play span {@include icons-sprite(pause);}
      &:hover {@include background-image(linear-gradient(#cacaca, #f3f3f3));}
      &:active {@include background-image(linear-gradient(#aaaaaa, #f3f3f3));}
    }

    table {
      position:absolute;
      top:27px;
      left:28px;
      right:28px;
    }
  }

  /* autocomplete */
  .ui-autocomplete {
    width:227px;
    padding:60px 18px 0 18px;
    margin:-90px 0 0 -27px;
    border:1px solid #333333;
    @include border-radius(3px);
    list-style:none;

    li {
      position:relative;
      width:100%;
      padding:0 0 9px;
      a {
        position:relative;
        display:block;
        width:100%;
        padding:0 0 8px 0;
        font:normal 15px "Open Sans";
        span {
          position:absolute;
          left:0;
          bottom:0;
          height:4px;
          @include border-radius(5px);
          background:#1b1c1c;
        }
        &:hover,
        &.ui-state-hover,
        &.ui-state-active { color:white; span {background:#FF3333}}
      }
    }
  }

  /* search form */
  form {
    position:relative;

    input[type="text"] {
      display:block;
      padding:11px 22px 11px 9px;
      border:1px solid #252525;
      @include border-radius(3px);
      background:none;
      font:normal 13px "Open Sans";
      line-height:normal;
      color:white;
      @include box-shadow(rgba(255,255,255,0), 0, 0, 0, 0);
      @include transition-property(box-shadow);
      @include transition-duration(300ms);
      outline: none;
      &:focus {
        border: 1px solid #FFFFFF;
        @include box-shadow(rgba(255,255,255,0.8), 0, 0, 5px, 0);
        @include transition-property(box-shadow);
        @include transition-duration(300ms);
      }
    }
    input[type="submit"] {
      position:absolute;
      top:19px;
      right:10px;
      width:14px;
      height:14px;
      @include icons-sprite(lens);
      border:none;
      &:focus {
        outline:none;
      }
    }
    &:hover input[type="text"]{
      border: 1px solid rgba(255,255,255,0.7);
    }
  }

  /* grap */
  #graph {
    @include inline-block();
    margin:40px 0 0;
    border-bottom:1px solid white;
  }

  /* select */
  span.select {
    position:relative;
    @include inline-block();
    width:auto;
    margin:0 0 0 5px;
    padding:4px 10px 4px 5px;
    border:1px solid #252525;
    @include border-radius(3px);
    font:normal 17px "Open Sans";
    color:white;
    letter-spacing:-1px;
    &:hover {border-color:rgba(255,255,255,0.7)}
    &.active {border-color:rgba(255,255,255,0.7); div.options {display:block}}

    a.init {
      height:18px;
      padding:0 10px 0 5px;
      margin:0;
      @include icons-sprite(down_arrow, $offset-x:100%, $offset-y:12px);      
      border:none;
    }

    div.options {
      position:absolute;
      display:none;
      top:22px;
      right:-16px;
      width:277px;
      margin:22px 0;
      background:url('/img/layout/options.png') repeat-y -277px 0;
      z-index:200000;

      ul {        
        display:block;
        padding:0 30px;

        li {
          padding:8px 0;
          border-bottom:1px solid #757575;
          a {padding:0; margin:0; background:none; color:#CCCCCC; border:none; &:hover {color:white; border:none}}
          &:last-child {border:none;}
        }
      }

      div.t {position:absolute; top:-22px; left:0; width:277px; height:22px; background:url('/img/layout/options.png') right 0;}
      div.b {position:absolute; bottom:-22px; left:0; width:277px; height:22px; background:url('/img/layout/options.png') left 0;}
    }
  }

  /* country li */
  ul.countries {
    list-style:none;
    width:100%;
    letter-spacing:-4px;

    li {
      position:relative;
      @include inline-block();
      width:262px;
      padding:0 0 9px;
      letter-spacing:0;

      a {
        position:relative;
        display:block;
        width:100%;
        padding:0 0 8px 0;
        font:normal 15px "Open Sans";
        span {
          position:absolute;
          left:0;
          bottom:0;
          height:4px;
          @include border-radius(5px);
          background:#1b1c1c;
          -webkit-transition:box-shadow 0.2s linear;
        }
        .growing {
          -webkit-transition:box-shadow 0.2s linear;
          @include box-shadow(#FF3333, 0, 0, 5px, 0);
        }
        &:hover span {background:#FF3333}
      }
    }
  }

  /* image with over text */
  ul.stories {
    list-style:none;
    width:100%;
    letter-spacing:-4px;

    li {
      position:relative;
      @include inline-block();
      width:262px;
      height:154px;
      overflow:hidden;
      margin:0 0 25px;
      padding:0;
      letter-spacing:0;

      img {width:242px;}

      a {
        position:absolute;
        left:0;
        bottom:20px;
        @include inline-block();
        width:230px;
        padding:0 0 0 3px;
        z-index:20;
        background:url('/img/layout/black_hack.png') repeat-y;

        &:hover span {color:white}

        span {
          position:relative;
          margin: 0;
          padding: 0 5px 2px 0;
          background-color: #000000;
          z-index: 15;
          color: #CCCCCC;
          font: normal 17px "Open Sans";
          line-height: 24px;
          letter-spacing:0px;
          white-space: pre-wrap;
          word-spacing:3px;
          @include border-radius(0);
        }
      }
      p.over {
        position:absolute;
        left:0;
        bottom:0;
        padding: 1px 5px 3px 5px;
        background-color: #000000;
        z-index: 15;
        color: #666666;
        font: normal 13px "Open Sans";
        line-height: normal;
        letter-spacing:-1px;
        white-space: pre-wrap;
        word-spacing:3px;
        @include border-radius(0);
      }
    }

    &.long li {
      display:block;
      width:100%;
      height:180px;
      img {width:100%}
    }
  }

  /* statistics (below country title) */
  div.statistics {
    position:relative;
    width:100%;
    height:27px;
    margin:1px 0 0 0;
    span {
      position:relative;
      @include inline-block();
      height:27px;
      &.green {background:#00CC66}
      &.red {background:#FF3333}
    }
    p {position:absolute; letter-spacing:-1px; top:0px; left:2px; z-index:3; line-height:24px}
  }

  /* layer */
  div.layers {
    display:none!important;
  }
  /* END ELEMENTS */




  /* ABOUT */
  section.info {
    width:460px;
    padding:0 0 50px;
    p {margin:40px 0 0; font-size:23px; color:#CCCCCC; line-height:28px}
  }
  section.partners {
    ul {letter-spacing:-4px}
    li {@include inline-block(); width:457px; margin:0 50px 0 0; letter-spacing:0; &:last-child {margin:none}}
    p {margin:15px 0 0 0; font-size:17px; color:#CCCCCC;}
    a {display:block; width:154px; height:76px;}
  }


  /* FOOTER */
  footer {
    position:relative;
    padding:30px 0 150px;
    ul {
      width:auto;
      li {
        @include inline-block();
        margin:0 60px 0 0;
        nav {
          width:240px;
          margin:0;
          letter-spacing:-4px;
          a {@include inline-block(); width:120px; letter-spacing:0; font:normal 13px "Open Sans"}
        }
      }
    }

    h4 {color:#373939; font:bold 11px "Open Sans"; font-weight:800;}
  }

}


body.front {
  background-color: #191919;
  
  article.error {
    position:absolute;
    top:50%;
    left:50%;
    margin:-250px 0 0 -281px;
    width:562px;

    header {
      display:block;
      h1 {
        margin:0 0 0 12px;
      } 
    }

    section {
      position:relative;

      &.empty {
        display:inline-block;
        width:530px;
        height:357px;
        margin:0 16px;
        background:#000000;
        @include border-radius(4px);
        div.band {left:-62px; bottom:40px;}
        em {display:block; font:bold 250px "Open Sans"; color:#333333; text-align:center; line-height:290px;}
      }

      div.band {
        position:absolute;
        bottom:74px;
        left:-48px;
        width:508px;
        height:44px;
        padding:20px 75px;
        @include layout-sprite(band);

        h2 {display:block; font:bold 15px "Open Sans"; color:white; letter-spacing:0; text-align:center; line-height:15px;}
        p {
          margin:3px 0 0 0;
          text-align:center;
          color:#7B1718;
          a {
            color:#7B1718;
            text-decoration:underline;
            &:hover {color:#3F0B0C;}
          }
        }
      }
    }
  }  
}
