
#panel {
  overflow: auto;
  position: absolute;
  background-color: #FFF;
  padding: 0;
  right: 0;
  top:72px;
  bottom: 0;
  width: 332px;
  border-left:1px solid #BBB;
  padding: 20px;

  h1 {
    font: bold 22px "Helvetica";
    margin-bottom: 20px;
  }


  dl {
      padding-bottom: 5px;
      border-bottom: 1px solid #F0F0F0;
  }
  dd, dt {
      display: inline-block;
      font:bold 13px "WhitneyBookRegular","Myriad Pro";
      letter-spacing: -1px;
      margin-top: 0px;
  }
  dt {
    width: 100px;
    text-transform: uppercase;
    color:#555;
  }
  dd {
    color:#111;
  }
}


.time_slider_wrapper {
  position: absolute;
  bottom: 100px;
  left: 100px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 2px;
    padding: 10px;
  #time_slider {
    width: 250px;
    height: 20px;
  }
}


