/* line 1, /Users/javierarce/code/wri/app/css_src/handheld.scss */
* {
  float: none;
  background: #fff;
  color: #000;
}

/* line 8, /Users/javierarce/code/wri/app/css_src/handheld.scss */
body {
  font-size: 80%;
}
