/* line 17, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* line 37, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 38, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h2 {
  font: bold 52px "Open Sans";
  color: white;
  letter-spacing: -3px;
  line-height: 56px;
  font-weight: 800!important;
}
/* line 38, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h2.bigger {
  font-size: 61px;
  line-height: 66px;
}

/* line 39, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h4 {
  padding: 0 0 10px;
  font-weight: 800!important;
}
/* line 39, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h4.red {
  color: #FF3333;
}
/* line 39, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h4.lighter {
  color: white;
}

/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p {
  font: normal 15px "Open Sans";
  color: white;
}
/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p.bigger {
  font-size: 22px;
}
/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p.darker {
  color: #CCCCCC;
}

/* line 42, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.left {
  float: left!important;
}

/* line 43, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.right {
  float: right!important;
}

/* line 44, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin5 {
  margin-top: 5px;
}

/* line 45, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin10 {
  margin-top: 10px;
}

/* line 46, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin45 {
  margin-top: 45px;
}

/* line 47, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin300 {
  margin-top: 300px;
}

/* line 48, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.padding100 {
  padding-bottom: 100px;
}

/* line 49, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.padding60 {
  padding-bottom: 60px;
}

/* logos */
/* icons */
/* line 99, ../../icons */
.icons-sprite, .icons-crosshair_map, .icons-down_arrow, .icons-down_arrow_black, .icons-handle, .icons-help, .icons-lens, .icons-list, .icons-list_green, .icons-pag_arrow, .icons-pag_arrow_white, .icons-pause, .icons-play, .icons-slider_point, body.tool a.pag, body.tool a.pag:hover, body.tool .slider div.horizontal a.ui-slider-handle, body.tool .slider a.animation span, body.tool .slider a.animation.play span, body.tool form input[type="submit"], body.tool span.select.active a.init, body.tool span.select a.init {
  background: url('/img/icons-s9d919341bf.png') no-repeat;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-crosshair_map {
  background-position: 0 0;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-down_arrow {
  background-position: -83px -25px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-down_arrow_black {
  background-position: -83px -41px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-handle {
  background-position: 0 -57px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-help {
  background-position: 0 -114px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-lens {
  background-position: 0 -122px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-list {
  background-position: 0 -136px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-list_green {
  background-position: 0 -143px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pag_arrow {
  background-position: 0 -200px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pag_arrow_white {
  background-position: 0 -260px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pause {
  background-position: 0 -320px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-play {
  background-position: 0 -333px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-slider_point {
  background-position: 0 -346px;
}

/* layout */
/* line 45, ../../layout */
.layout-sprite, .layout-band, .layout-black_hack, .layout-browser, .layout-options, body.front article.error section div.band {
  background: url('/img/layout-s9778c6734b.png') no-repeat;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.layout-band {
  background-position: 0 0;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.layout-black_hack {
  background-position: 0 -84px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.layout-browser {
  background-position: 0 -119px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.layout-options {
  background-position: 0 -508px;
}

/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* line 37, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 38, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h2 {
  font: bold 52px "Open Sans";
  color: white;
  letter-spacing: -3px;
  line-height: 56px;
  font-weight: 800!important;
}
/* line 38, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h2.bigger {
  font-size: 61px;
  line-height: 66px;
}

/* line 39, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h4 {
  padding: 0 0 10px;
  font-weight: 800!important;
}
/* line 39, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h4.red {
  color: #FF3333;
}
/* line 39, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h4.lighter {
  color: white;
}

/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p {
  font: normal 15px "Open Sans";
  color: white;
}
/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p.bigger {
  font-size: 22px;
}
/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p.darker {
  color: #CCCCCC;
}

/* line 42, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.left {
  float: left!important;
}

/* line 43, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.right {
  float: right!important;
}

/* line 44, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin5 {
  margin-top: 5px;
}

/* line 45, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin10 {
  margin-top: 10px;
}

/* line 46, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin45 {
  margin-top: 45px;
}

/* line 47, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin300 {
  margin-top: 300px;
}

/* line 48, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.padding100 {
  padding-bottom: 100px;
}

/* line 49, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.padding60 {
  padding-bottom: 60px;
}

/* line 9, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 16, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 22, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
h4 {
  font: bold 13px "Open Sans";
  color: #999999;
  text-transform: uppercase;
}

/* line 24, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
a, a:active, a:visited {
  color: #666666;
  text-decoration: none;
}

/* line 25, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
a:hover {
  color: white;
}

/* line 27, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 31, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
small {
  font-size: 11px;
}

/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 45, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 52, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 58, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool {
  background-color: #000;
  /* LAYOUT */
  /* HEADER */
  /* HOME SUBHEADER */
  /* COUNTRIES LIST */
  /* MAIN COUNTRY */
  /* ABOUT */
  /* COUNTRY FLOAT ELEMENTS */
  /* ELEMENTS */
  /* slider */
  /* autocomplete */
  /* search form */
  /* grap */
  /* select */
  /* country li */
  /* image with over text */
  /* statistics (below country title) */
  /* layer */
  /* END ELEMENTS */
  /* ABOUT */
  /* FOOTER */
}
/* line 62, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* line 69, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .container.about {
  height: auto;
}
/* line 70, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .container.grey {
  padding: 60px 0 0 0;
  background: #191919;
}
/* line 73, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .inner {
  width: 1100px;
  margin: 0 auto;
}
/* line 76, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .inner.home {
  position: relative;
  z-index: 100;
}
/* line 80, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header {
  position: relative;
  height: 88px;
  padding: 10px 0;
  z-index: 50;
}
/* line 86, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header h1 {
  float: left;
  margin: 0;
  padding: 13px 0 0 0;
}
/* line 88, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header h1 a {
  font: normal 21px "Georgia";
  color: white;
}
/* line 90, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header h1 a span {
  display: block;
  font-size: 13px;
  color: #737374;
}
/* line 95, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header nav {
  float: right;
  width: 610px;
  margin: 21px 0 0 0;
}
/* line 99, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header nav a {
  margin: 0 0 0 10px;
  padding: 4px 10px 4px;
  border: 1px solid #252525;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: normal 17px "Open Sans";
  color: white;
  letter-spacing: -1px;
}
/* line 107, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header nav a:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
/* line 108, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header nav a:active {
  color: black;
  background: white;
}
/* line 111, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header.country {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 22px 0 12px 0;
  z-index: 15;
}
/* line 122, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header form {
  margin: 0 7px 0 0;
  width: 180px;
}
/* line 125, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header form input[type="text"] {
  width: 145px;
  padding: 4px 26px 5px 9px;
  margin: 0;
  font-size: 16px;
  letter-spacing: -1px;
}
/* line 126, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header form input[type="submit"] {
  top: 10px;
  right: 5px;
}
/* line 131, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader {
  position: relative;
  margin: 0;
}
/* line 135, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader section.title {
  width: 735px;
}
/* line 137, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader section.title p {
  margin: 7px 0 0 0;
  letter-spacing: -1px;
}
/* line 138, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader section.title h2 {
  font-size: 56px;
  line-height: 60px;
  word-spacing: 5px;
}
/* line 143, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100%;
  margin: 350px 0 0 0;
  letter-spacing: -4px;
}
/* line 149, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 255px;
  margin-right: 20px;
  letter-spacing: 0;
}
/* line 155, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column h4 {
  position: relative;
}
/* line 157, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column section.column:last-child {
  margin: 0;
}
/* line 159, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul {
  margin: 15px 0 0 0;
}
/* line 166, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.country {
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 530px;
  margin: 90px 0 0 50%;
  right: 55px;
  z-index: 10;
  display: none;
}
/* line 177, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.about.illustration {
  background: url("/img/about.jpg") no-repeat 600px 40px;
}
/* line 182, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar {
  position: fixed;
  height: 2px;
  background: white;
  z-index: 5;
}
/* line 188, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.l {
  left: 0;
  width: 50%;
  min-width: 510px;
  margin-left: -100px;
}
/* line 189, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.r {
  right: 0;
  width: 50%;
  min-width: 65px;
  margin-right: -487px;
}
/* line 190, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.top {
  top: 120px;
}
/* line 191, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.bottom {
  position: relative;
  margin: 80px 0 0 0;
  display: block;
  width: 100%;
}
/* line 192, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.darker {
  background: #2A2B2C;
}
/* line 194, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool a.pag {
  position: fixed;
  top: 50%;
  width: 33px;
  height: 66px;
  margin: -66px 0 0 0;
  background-position: 8px -173px;
  background-color: #FF3333;
  text-indent: -9999px;
  text-transform: uppercase;
  z-index: 10;
  color: #333333;
}
/* line 206, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool a.pag.left {
  left: 0;
}
/* line 207, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool a.pag.right {
  right: 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
/* line 208, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool a.pag:hover {
  background-position: 8px -233px;
  background-color: #FF3333;
}
/* line 215, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 21px 21px 21px 82px;
  margin: 0;
  height: 29px;
  z-index: 100;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #cacaca));
  background-image: -webkit-linear-gradient(#f3f3f3, #cacaca);
  background-image: -moz-linear-gradient(#f3f3f3, #cacaca);
  background-image: -o-linear-gradient(#f3f3f3, #cacaca);
  background-image: -ms-linear-gradient(#f3f3f3, #cacaca);
  background-image: linear-gradient(#f3f3f3, #cacaca);
}
/* line 227, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.shadow {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
}
/* line 236, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.canvas {
  position: relative;
  display: block;
  padding: 5px 21px;
  height: 17px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(100%, #cdcdcd));
  background-image: -webkit-linear-gradient(#cecece, #cdcdcd);
  background-image: -moz-linear-gradient(#cecece, #cdcdcd);
  background-image: -o-linear-gradient(#cecece, #cdcdcd);
  background-image: -ms-linear-gradient(#cecece, #cdcdcd);
  background-image: linear-gradient(#cecece, #cdcdcd);
  border: 1px solid #B4B4B4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 245, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.canvas table {
  position: relative;
  width: 100%;
}
/* line 249, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.canvas table td {
  position: relative!important;
  height: 27px;
  background: url("/img/icons/slider_point.png") repeat-x 15px 8px;
}
/* line 251, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.canvas table td div {
  position: relative;
  height: 100%;
}
/* line 254, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.canvas table label {
  position: absolute;
  left: -12px;
  top: 2px;
  padding: 0 2px;
  font: bold 10px "Open Sans";
  color: #333333;
  background: #CECECE;
}
/* line 266, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider div.horizontal {
  position: absolute;
  left: 104px;
  top: 27px;
  right: 46px;
  display: block;
  height: 15px;
  z-index: 10;
}
/* line 275, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider div.horizontal a.ui-slider-handle {
  position: absolute;
  width: 89px;
  height: 46px;
  top: -41px;
  left: 0;
  padding: 11px 0 0 0;
  margin: 0 0 0 -44px;
  font: bold 13px "Open Sans";
  text-align: center;
  line-height: 13px;
  color: #F1F1F1;
  z-index: 10;
  background-position: 0 -57px;
}
/* line 289, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider div.horizontal a.ui-slider-handle:focus {
  outline: none;
}
/* line 293, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider a.animation {
  position: absolute;
  display: block;
  top: 18px;
  left: 16px;
  border: 1px solid #999999;
  -moz-box-shadow: white 0 1px 0 0;
  -webkit-box-shadow: white 0 1px 0 0;
  box-shadow: white 0 1px 0 0;
  width: 55px;
  height: 33px;
  text-indent: -9999px;
  text-transform: uppercase;
  line-height: 0;
  font-size: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #cacaca));
  background-image: -webkit-linear-gradient(#f3f3f3, #cacaca);
  background-image: -moz-linear-gradient(#f3f3f3, #cacaca);
  background-image: -o-linear-gradient(#f3f3f3, #cacaca);
  background-image: -ms-linear-gradient(#f3f3f3, #cacaca);
  background-image: linear-gradient(#f3f3f3, #cacaca);
}
/* line 309, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider a.animation span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 13px;
  width: 12px;
  background-position: 0 -333px;
}
/* line 318, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider a.animation.play span {
  background-position: 0 -320px;
}
/* line 319, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider a.animation:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(#cacaca, #f3f3f3);
  background-image: -moz-linear-gradient(#cacaca, #f3f3f3);
  background-image: -o-linear-gradient(#cacaca, #f3f3f3);
  background-image: -ms-linear-gradient(#cacaca, #f3f3f3);
  background-image: linear-gradient(#cacaca, #f3f3f3);
}
/* line 320, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider a.animation:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(#aaaaaa, #f3f3f3);
  background-image: -moz-linear-gradient(#aaaaaa, #f3f3f3);
  background-image: -o-linear-gradient(#aaaaaa, #f3f3f3);
  background-image: -ms-linear-gradient(#aaaaaa, #f3f3f3);
  background-image: linear-gradient(#aaaaaa, #f3f3f3);
}
/* line 325, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete {
  width: 263px;
  border: 1px solid #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  list-style: none;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.9);
}
/* line 333, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li {
  position: relative;
  display: block;
  padding: 0 18px 9px;
  pointer-events: auto;
}
/* line 339, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li a {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 0 8px 0;
  font: normal 15px "Open Sans";
  pointer-events: auto;
}
/* line 347, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li a span {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #1b1c1c;
}
/* line 357, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li a:hover, body.tool .ui-autocomplete li a.ui-state-hover, body.tool .ui-autocomplete li a.ui-state-active {
  color: white;
}
/* line 357, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li a:hover span, body.tool .ui-autocomplete li a.ui-state-hover span, body.tool .ui-autocomplete li a.ui-state-active span {
  background: #FF3333;
}
/* line 360, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li p {
  font-size: 13px;
  color: #666;
  text-align: left;
}
/* line 369, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool form {
  position: relative;
}
/* line 372, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool form.home {
  position: absolute;
  left: 50%;
  top: 110px;
  width: 250px;
  margin: 64px 0 0 298px;
  z-index: 110;
}
/* line 379, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool form.home input[type="text"] {
  width: 219px;
  font: normal 17px "Open Sans";
}
/* line 382, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool form input[type="text"] {
  display: block;
  padding: 11px 22px 11px 9px;
  border: 1px solid #252525;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: black;
  font: normal 13px "Open Sans";
  line-height: normal;
  color: white;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  outline: none;
}
/* line 395, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool form input[type="text"]:focus {
  border: 1px solid #FFFFFF!important;
  -moz-box-shadow: rgba(255, 255, 255, 0.8) 0 0 5px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.8) 0 0 5px 0;
  box-shadow: rgba(255, 255, 255, 0.8) 0 0 5px 0;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 402, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool form input[type="submit"] {
  position: absolute;
  top: 19px;
  right: 10px;
  width: 14px;
  height: 14px;
  background-position: 0 -122px;
  border: none;
}
/* line 410, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool form input[type="submit"]:focus {
  outline: none;
}
/* line 414, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool form:hover input[type="text"] {
  border: 1px solid rgba(255, 255, 255, 0.7);
}
/* line 420, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool #graph {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 40px 0 0;
  border-bottom: 1px solid white;
}
/* line 427, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: auto;
  margin: 0 0 0 5px;
  padding: 4px 10px 4px 5px;
  border: 1px solid #252525;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: normal 17px "Open Sans";
  color: white;
  letter-spacing: -1px;
  background: black;
}
/* line 440, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
/* line 441, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select.active {
  border-color: rgba(255, 255, 255, 0.7);
  background: white;
}
/* line 444, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select.active a.init {
  color: black;
  background-position: 100% -29px;
}
/* line 445, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select.active div.options {
  display: block;
}
/* line 448, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select a.init {
  height: 18px;
  padding: 0 12px 0 5px;
  margin: 0;
  background-position: 100% -13px;
  border: none;
}
/* line 456, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select div.options {
  position: absolute;
  display: none;
  top: 22px;
  right: -16px;
  width: 277px;
  margin: 22px 0;
  background: url("/img/layout/options.png") repeat-y -277px 0;
  z-index: 200000;
}
/* line 466, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select div.options ul {
  display: block;
  padding: 0 30px;
}
/* line 470, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select div.options ul li {
  padding: 8px 0;
  border-bottom: 1px solid #757575;
}
/* line 473, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select div.options ul li a {
  padding: 0;
  margin: 0;
  background: none;
  color: #CCCCCC;
  border: none;
}
/* line 473, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select div.options ul li a:hover {
  color: white;
  border: none;
}
/* line 474, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select div.options ul li:last-child {
  border: none;
}
/* line 478, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select div.options div.t {
  position: absolute;
  top: -22px;
  left: 0;
  width: 277px;
  height: 22px;
  background: url("/img/layout/options.png") right 0;
}
/* line 479, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.select div.options div.b {
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 277px;
  height: 22px;
  background: url("/img/layout/options.png") left 0;
}
/* line 484, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.countries {
  list-style: none;
  width: 100%;
  letter-spacing: -4px;
}
/* line 489, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.countries li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 262px;
  padding: 0 0 9px;
  letter-spacing: 0;
}
/* line 496, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.countries li a {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 0 8px 0;
  font: normal 15px "Open Sans";
}
/* line 502, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.countries li a span {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #1b1c1c;
  -webkit-transition: box-shadow 0.2s linear;
}
/* line 511, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.countries li a .growing {
  -webkit-transition: box-shadow 0.2s linear;
  -moz-box-shadow: #ff3333 0 0 5px 0;
  -webkit-box-shadow: #ff3333 0 0 5px 0;
  box-shadow: #ff3333 0 0 5px 0;
}
/* line 515, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.countries li a:hover span {
  background: #FF3333;
}
/* line 521, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.stories {
  list-style: none;
  width: 100%;
  letter-spacing: -4px;
}
/* line 526, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.stories li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 262px;
  height: 154px;
  overflow: hidden;
  margin: 0 0 25px;
  padding: 0;
  letter-spacing: 0;
}
/* line 536, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.stories li img {
  width: 242px;
}
/* line 538, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.stories li a {
  position: absolute;
  left: 0;
  bottom: 20px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 230px;
  padding: 0 0 0 3px;
  z-index: 20;
  background: url("/img/layout/black_hack.png") repeat-y;
}
/* line 548, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.stories li a:hover span {
  color: white;
}
/* line 550, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.stories li a span {
  position: relative;
  margin: 0;
  padding: 0 5px 2px 0;
  background-color: #000000;
  z-index: 15;
  color: #CCCCCC;
  font: normal 17px "Open Sans";
  line-height: 24px;
  letter-spacing: 0px;
  white-space: pre-wrap;
  word-spacing: 3px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 565, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.stories li p.over {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1px 5px 3px 5px;
  background-color: #000000;
  z-index: 15;
  color: #666666;
  font: normal 13px "Open Sans";
  line-height: normal;
  letter-spacing: -1px;
  white-space: pre-wrap;
  word-spacing: 3px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 582, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.stories.long li {
  display: block;
  width: 100%;
  height: 180px;
}
/* line 586, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool ul.stories.long li img {
  width: 100%;
}
/* line 591, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool div.statistics {
  position: relative;
  width: 100%;
  height: 27px;
  margin: 1px 0 0 0;
}
/* line 596, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool div.statistics span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  height: 27px;
}
/* line 600, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool div.statistics span.green {
  background: #00CC66;
}
/* line 601, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool div.statistics span.red {
  background: #FF3333;
}
/* line 603, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool div.statistics p {
  position: absolute;
  letter-spacing: -1px;
  top: 0px;
  left: 2px;
  z-index: 3;
  line-height: 24px;
}
/* line 607, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool div.layers {
  display: none!important;
}
/* line 616, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool section.info {
  overflow: hidden;
  width: 525px;
  padding: 0 0 65px;
}
/* line 620, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool section.info p {
  margin: 40px 0 0;
  font-size: 21px;
  color: #CCCCCC;
  line-height: normal;
}
/* line 623, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool section.partners ul {
  letter-spacing: -4px;
}
/* line 624, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool section.partners li {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 525px;
  margin: 0 50px 0 0;
  letter-spacing: 0;
}
/* line 624, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool section.partners li:last-child {
  margin: 0;
}
/* line 625, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool section.partners p {
  margin: 15px 0 0 0;
  font-size: 17px;
  color: #CCCCCC;
}
/* line 626, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool section.partners a {
  display: block;
  width: 154px;
  height: 76px;
}
/* line 631, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer {
  position: relative;
  display: block;
  padding: 30px 0 150px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.9);
}
/* line 637, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer.country {
  width: 100%;
}
/* line 639, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer ul {
  width: auto;
}
/* line 641, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer ul li {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 0 60px 0 0;
}
/* line 644, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer ul li nav {
  width: 240px;
  margin: 0;
  letter-spacing: -4px;
}
/* line 648, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer ul li nav a {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 120px;
  letter-spacing: 0;
  font: normal 13px "Open Sans";
}
/* line 653, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer h4 {
  color: #373939;
  font: bold 11px "Open Sans";
  font-weight: 800;
}

/* line 659, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front {
  background-color: #191919;
}
/* line 662, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -281px;
  width: 562px;
}
/* line 669, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error header {
  display: block;
}
/* line 671, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error header h1 {
  margin: 0 0 0 12px;
}
/* line 676, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section {
  position: relative;
}
/* line 679, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section.empty {
  display: inline-block;
  width: 530px;
  height: 357px;
  margin: 0 16px;
  background: #000000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 686, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section.empty div.band {
  left: -62px;
  bottom: 40px;
}
/* line 687, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section.empty em {
  display: block;
  font: bold 250px "Open Sans";
  color: #333333;
  text-align: center;
  line-height: 290px;
}
/* line 690, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band {
  position: absolute;
  bottom: 74px;
  left: -48px;
  width: 508px;
  height: 44px;
  padding: 20px 75px;
  background-position: 0 0;
}
/* line 699, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band h2 {
  display: block;
  font: bold 15px "Open Sans";
  color: white;
  letter-spacing: 0;
  text-align: center;
  line-height: 15px;
}
/* line 700, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band p {
  margin: 3px 0 0 0;
  text-align: center;
  color: #7B1718;
}
/* line 704, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band p a {
  color: #7B1718;
  text-decoration: underline;
}
/* line 707, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band p a:hover {
  color: #3F0B0C;
}

/* line 2, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map {
  position: absolute;
  top: 0;
  left: 0;
  width: 1100px;
  height: 800px;
  padding: 130px 0 0 0;
  background: url("/img/home_map.png") repeat-x -60px -110px;
  z-index: 0;
}
/* line 12, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map div.mamufas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1100px;
  height: 930px;
  background-image: -webkit-gradient(radial, 580px 450px, 0, 580px 450px, 520, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background-image: -webkit-radial-gradient(580px 450px, rgba(0, 0, 0, 0) 40%, #000000 520px);
  background-image: -moz-radial-gradient(580px 450px, rgba(0, 0, 0, 0) 40%, #000000 520px);
  background-image: -o-radial-gradient(580px 450px, rgba(0, 0, 0, 0) 40%, #000000 520px);
  background-image: -ms-radial-gradient(580px 450px, rgba(0, 0, 0, 0) 40%, #000000 520px);
  background-image: radial-gradient(580px 450px, rgba(0, 0, 0, 0) 40%, #000000 520px);
  pointer-events: none;
}
/* line 22, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map circle {
  fill: #FF3333;
}
/* line 26, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map circle.ortho {
  fill: #971c20;
}
/* line 29, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map text {
  opacity: 0;
  fill: #FFF!important;
  color: #FFF!important;
  font: bold 20px sans-serif;
}
/* line 36, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map a:visited {
  background: white;
}
/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map text.small {
  fill: #FFF;
  color: #FFF;
  font: 10px sans-serif;
}

/* line 47, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.background_map {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 15px;
  bottom: 0;
  z-index: 1;
  background: black;
}

/* line 58, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}
/* line 65, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .map {
  width: 100%;
  height: 100%;
  background: black!important;
}
/* line 71, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.mamufas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200%;
  height: 200%;
  margin: 0 0 0 -400px;
  background-image: -webkit-gradient(radial, 25% 450px, 0, 25% 450px, 600, color-stop(11.667%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.95)));
  background-image: -webkit-radial-gradient(25% 450px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0.95) 600px);
  background-image: -moz-radial-gradient(25% 450px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0.95) 600px);
  background-image: -o-radial-gradient(25% 450px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0.95) 600px);
  background-image: -ms-radial-gradient(25% 450px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0.95) 600px);
  background-image: radial-gradient(25% 450px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0.95) 600px);
  z-index: 10;
  pointer-events: none;
}
/* line 85, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .cartodb_logo {
  display: block;
  position: absolute;
  bottom: 7px;
  left: 70px;
  width: 69px;
  height: 27px;
}
/* line 95, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.layer_editor {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 21;
}
/* line 102, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.layer_editor .layer_raster {
  display: block;
  width: 22px;
  height: 23px;
  background: url("../img/layers_editor.png") no-repeat 0 0;
}
/* line 108, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.layer_editor .layer_google_maps {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/layers_editor.png") no-repeat 0 -23px;
}
/* line 117, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control {
  display: none;
  position: absolute;
  top: 175px;
  left: 50%;
  width: auto;
  margin: 0 0 0 -550px;
  height: 30px;
  z-index: 10;
  letter-spacing: -4px;
}
/* line 128, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  letter-spacing: 0;
  min-width: 15px;
  padding: 5px;
  font: normal 13px "Open Sans";
  color: white;
  text-align: center;
  border: 1px solid #1F2121;
  background: #060708;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 139, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a:hover {
  border-color: white;
}
/* line 140, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a:active {
  color: black;
  background: white;
}
/* line 142, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_in {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -o-border-bottom-left-radius: 2px;
  -ms-border-bottom-left-radius: 2px;
  -khtml-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 146, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out {
  margin: 0 10px 0 0;
  border-left: none;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -o-border-bottom-right-radius: 2px;
  -ms-border-bottom-right-radius: 2px;
  -khtml-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 151, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out:hover {
  padding: 5px 5px 5px 4px;
  border-left: 1px solid white;
}
/* line 155, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out:active {
  padding: 5px;
  border-left: none;
}
/* line 163, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.crosshair {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 168, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.crosshair img {
  margin-left: -7px;
  margin-top: -7px;
}
/* line 175, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text {
  position: absolute;
  display: none;
  top: 100px;
  left: 100px;
  width: 193px;
  height: 80px;
}
/* line 185, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .top {
  padding: 18px 18px 0 18px;
  width: 100%;
  height: 0px;
}
/* line 192, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .center {
  padding: 0px 18px 0 18px;
  width: 100%;
  float: left;
}
/* line 198, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .bottom {
  padding: 0px 18px 18px 18px;
  width: 100%;
  float: left;
  height: 48px;
}
/* line 206, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text h1.name {
  font: bold 13px "WhitneyBookRegular","Myriad Pro";
  color: #333333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  letter-spacing: -1px;
  padding-bottom: 5px;
}
/* line 213, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text h1.name a {
  color: #333333;
  text-decoration: none;
}
/* line 218, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .close {
  float: right;
  width: 12px;
  height: 17px;
}
/* line 224, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text #add_protected {
  float: left;
  width: auto;
  height: 30px;
  margin: 10px 0 0 0px;
  padding: 0 0 0 11px;
  font: bold 13px "WhitneyBold";
  color: white;
  text-transform: uppercase;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=180, Strength=1);
  text-shadow: 0 1px 0 #3c7d7d;
  text-decoration: none;
}
/* line 238, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text #add_protected span {
  float: left;
  width: auto;
  height: 14px;
  padding: 8px 12px 8px 0;
}
/* line 246, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text #add_protected:hover {
  text-decoration: underline;
}
/* line 250, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .area_popup {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 150px;
  height: 30px;
}
/* line 257, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .area_popup h1, .map_container .area_popup h2 {
  background: #E33;
  letter-spacing: 0;
  line-height: 1em;
  font-weight: normal;
  color: white;
  line-height: 1.2em;
  font-family: sans-serif;
}
/* line 266, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .area_popup h1 {
  display: inline;
  font-size: 21px;
  padding: 3px 5px;
}
/* line 271, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .area_popup h2 {
  font-size: 13px;
  padding: 4px;
}
/* line 277, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .search {
  display: none;
  position: absolute;
  top: 25px;
  right: 190px;
  width: 192px;
  height: 25px;
  z-index: 10;
  padding: 5px 0px 3px 8px;
}
/* line 287, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .search h1 {
  margin: 0;
  padding: 0;
  display: inline;
  text-transform: uppercase;
  font: bold 13px "WhitneyBookRegular","Myriad Pro";
  color: #333333;
  letter-spacing: -1px;
}
/* line 296, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .search input {
  outline: none;
  width: 105px;
  display: inline;
  border: 0;
  font: normal 13px "Helvetica";
}
/* line 303, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .search a {
  text-decoration: none;
}
/* line 308, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers {
  display: none;
  position: absolute;
  top: 20px;
  right: 23px;
  width: 224px;
  z-index: 100;
}
/* line 316, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers a.view {
  float: right;
  display: block;
  width: auto;
  height: 33px;
  padding: 0 0 0 15px;
  text-decoration: none;
}
/* line 325, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers a.view span {
  float: left;
  height: 13px;
  margin: 0;
  padding: 11px 32px 9px 5px;
  font: normal 13px "WhitneyBookRegular","Myriad Pro";
  color: #333333;
  text-indent: 0px;
  text-decoration: none;
}
/* line 336, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers a.view span strong {
  font: bold 13px "WhitneyBold","Myriad Pro";
}
/* line 342, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show {
  position: absolute;
  top: 21px;
  right: 0;
  display: none;
  width: 224px;
  z-index: -1;
}
/* line 350, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show span.top {
  float: right;
  width: 100%;
  height: 12px;
}
/* line 357, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul {
  float: right;
  width: 212px;
  padding: 0 6px 6px;
  margin: 0;
  list-style: none;
  text-align: left;
}
/* line 366, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul:last-child {
  border: none;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 371, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li {
  padding: 5px 9px;
  border: none;
  border-bottom: 1px solid #F2F2F2;
  font: normal 13px "Helvetica Neue";
  color: #333333;
}
/* line 378, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li span.color {
  width: 7px;
  height: 7px;
  margin-right: 10px;
  display: inline-block;
}
/* line 411, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.last {
  border: none;
}
/* line 415, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li:hover {
  background-color: #EDEDED;
  cursor: pointer!important;
}
/* line 421, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled {
  font-weight: bold;
}
/* line 425, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.moving {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
/* line 431, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul a.expand {
  display: block;
  width: 100%;
  height: 9px;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}
/* line 439, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul a.expand:hover {
  background-position: 0 -1452px;
}
/* line 447, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers.open a.view {
  background-position: left -1072px;
}
/* line 450, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers.open a.view span {
  background-position: right -1072px;
}
/* line 455, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers.open .show {
  display: block;
}
