/* line 17, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* line 37, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 38, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h2 {
  font: bold 52px "Open Sans";
  color: white;
  letter-spacing: -3px;
  line-height: 56px;
}

/* line 39, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h4 {
  padding: 0 0 10px;
}

/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p {
  font: normal 15px "Open Sans";
  color: white;
}
/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p.bigger {
  font-size: 23px;
}

/* line 42, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.left {
  float: left;
}

/* line 43, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.right {
  float: right;
}

/* line 44, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin5 {
  margin-top: 5px;
}

/* line 45, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin10 {
  margin-top: 10px;
}

/* line 46, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin45 {
  margin-top: 45px;
}

/* line 47, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin300 {
  margin-top: 300px;
}

/* logos */
/* icons */
/* line 63, ../../icons */
.icons-sprite, .icons-crosshair_map, .icons-handle, .icons-help, .icons-lens, .icons-list, .icons-list_green, .icons-zoom, body.tool article.subheader form input[type="submit"], body.tool .slider span.canvas a.ui-slider-handle {
  background: url('/img/icons-s8320cbd8be.png') no-repeat;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-crosshair_map {
  background-position: 0 0;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-handle {
  background-position: 0 -13px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-help {
  background-position: 0 -54px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-lens {
  background-position: 0 -62px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-list {
  background-position: 0 -76px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-list_green {
  background-position: 0 -83px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-zoom {
  background-position: 0 -90px;
}

/* layout */
/* line 39, ../../layout */
.layout-sprite, .layout-band, .layout-black_hack, .layout-browser, body.front article.error section div.band {
  background: url('/img/layout-sa1b4b284b6.png') no-repeat;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.layout-band {
  background-position: 0 0;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.layout-black_hack {
  background-position: 0 -84px;
}

/* line 60, /Users/jmedina/.rvm/gems/ruby-1.9.2-p290@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.layout-browser {
  background-position: 0 -119px;
}

/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* line 37, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 38, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h2 {
  font: bold 52px "Open Sans";
  color: white;
  letter-spacing: -3px;
  line-height: 56px;
}

/* line 39, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
h4 {
  padding: 0 0 10px;
}

/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p {
  font: normal 15px "Open Sans";
  color: white;
}
/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
p.bigger {
  font-size: 23px;
}

/* line 42, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.left {
  float: left;
}

/* line 43, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.right {
  float: right;
}

/* line 44, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin5 {
  margin-top: 5px;
}

/* line 45, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin10 {
  margin-top: 10px;
}

/* line 46, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin45 {
  margin-top: 45px;
}

/* line 47, /Users/jmedina/Workspace/wri/app/css_src/partials/_base.scss */
.margin300 {
  margin-top: 300px;
}

/* line 9, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 16, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 22, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
h4 {
  font: bold 13px "Open Sans";
  color: #999999;
  text-transform: uppercase;
}

/* line 24, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
a, a:active, a:visited {
  color: #666666;
  text-decoration: none;
}

/* line 25, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
a:hover {
  color: white;
}

/* line 27, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 31, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
small {
  font-size: 11px;
}

/* line 40, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 45, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 52, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 57, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool {
  background-color: #000;
  /* LAYOUT */
  /* HEADER */
  /* HOME SUBHEADER */
  /* COUNTRIES LIST */
  /* MAIN COUNTRY */
  /* COUNTRY FLOAT ELEMENTS */
  /* SLIDER */
  /* AUTOCOMPLETE */
}
/* line 62, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .container {
  position: relative;
  width: 100%;
}
/* line 67, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .inner {
  width: 1100px;
  margin: 0 auto;
  padding: 0 0 100px;
}
/* line 74, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header {
  padding: 10px 0;
  overflow: hidden;
}
/* line 77, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header h1 {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 78, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header nav {
  float: right;
  margin: 25px 0 0 0;
}
/* line 81, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header nav a {
  height: 18px;
  margin: 0 0 0 5px;
  padding: 4px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: normal 17px "Open Sans";
  color: white;
  letter-spacing: -1px;
}
/* line 90, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool header nav a:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
/* line 96, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader {
  margin: 0;
}
/* line 99, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader section.title {
  width: 755px;
}
/* line 101, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader section.title p {
  letter-spacing: -1px;
}
/* line 103, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form {
  position: relative;
  width: 253px;
  margin: 64px 0 0;
}
/* line 108, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form input[type="text"] {
  display: block;
  width: 219px;
  padding: 11px 22px 11px 9px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: none;
  font: normal 17px "Open Sans";
  line-height: normal;
  color: white;
}
/* line 118, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form input[type="text"]:focus {
  outline: none;
}
/* line 122, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form input[type="submit"] {
  position: absolute;
  top: 19px;
  right: 10px;
  width: 14px;
  height: 14px;
  background-position: 0 -62px;
  border: none;
}
/* line 130, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form input[type="submit"]:focus {
  outline: none;
}
/* line 138, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100%;
  letter-spacing: -4px;
}
/* line 143, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 255px;
  margin-right: 20px;
  letter-spacing: 0;
}
/* line 148, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column section.column:last-child {
  margin: 0;
}
/* line 150, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
}
/* line 155, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li {
  position: relative;
  width: 100%;
  padding: 0 0 9px;
}
/* line 159, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li .story {
  max-width: 243px;
}
/* line 162, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 0 8px 0;
  font: normal 15px "Open Sans";
}
/* line 168, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a span {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #1b1c1c;
  -webkit-transition: box-shadow 0.2s linear;
}
/* line 177, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a .growing {
  -webkit-transition: box-shadow 0.2s linear;
  -moz-box-shadow: #ff3333 0 0 5px 0;
  -webkit-box-shadow: #ff3333 0 0 5px 0;
  box-shadow: #ff3333 0 0 5px 0;
}
/* line 181, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a:hover span {
  background: #FF3333;
}
/* line 182, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a.over {
  position: absolute;
  left: 0;
  bottom: 29px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 230px;
  padding: 0 0 0 3px;
  z-index: 20;
  background: url("/img/layout/black_hack.png") repeat-y;
}
/* line 192, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a.over:hover span {
  color: white;
}
/* line 194, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a.over span {
  position: relative;
  margin: 0;
  padding: 0 5px 2px 0;
  background-color: #000000;
  z-index: 15;
  color: #CCCCCC;
  font: normal 17px "Open Sans";
  line-height: 24px;
  letter-spacing: 0px;
  white-space: pre-wrap;
  word-spacing: 3px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 211, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li p.over {
  position: absolute;
  left: 0;
  bottom: 9px;
  padding: 1px 5px 3px 5px;
  background-color: #000000;
  z-index: 15;
  color: #666666;
  font: normal 13px "Open Sans";
  line-height: normal;
  letter-spacing: -1px;
  white-space: pre-wrap;
  word-spacing: 3px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 232, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool article.country {
  float: right;
  display: block;
  width: 500px;
  margin: 0 65px 0 0;
}
/* line 240, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar {
  position: absolute;
  height: 2px;
  background: white;
}
/* line 245, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.l {
  left: 0;
  width: 50%;
  min-width: 510px;
  margin-left: -60px;
}
/* line 246, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.r {
  right: 0;
  width: 50%;
  min-width: 65px;
  margin-right: -500px;
}
/* line 247, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.top {
  top: 110px;
}
/* line 248, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.bottom {
  bottom: 200px;
}
/* line 249, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool span.bar.darker {
  background: #2A2B2C;
}
/* line 252, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer {
  display: inline-block;
  width: 100%;
  margin: 50px 0 0 0;
}
/* line 257, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer ul {
  width: auto;
}
/* line 259, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer ul li {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 0 60px 0 0;
}
/* line 262, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer ul li nav {
  width: 240px;
  margin: 0;
  letter-spacing: -4px;
}
/* line 266, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer ul li nav a {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 120px;
  letter-spacing: 0;
  font: normal 13px "Open Sans";
}
/* line 271, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool footer h4 {
  color: #373939;
  font: bold 11px "Open Sans";
}
/* line 275, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 20px;
  margin: 0;
  height: 29px;
  z-index: 100;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #cacaca));
  background-image: -webkit-linear-gradient(#f3f3f3, #cacaca);
  background-image: -moz-linear-gradient(#f3f3f3, #cacaca);
  background-image: -o-linear-gradient(#f3f3f3, #cacaca);
  background-image: -ms-linear-gradient(#f3f3f3, #cacaca);
  background-image: linear-gradient(#f3f3f3, #cacaca);
}
/* line 287, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.shadow {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
}
/* line 296, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.canvas {
  position: relative;
  display: block;
  height: 29px;
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 302, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.canvas a.ui-slider-handle {
  position: absolute;
  width: 89px;
  height: 30px;
  top: -34px;
  left: 0;
  padding: 11px 0 0 0;
  margin: 0 0 0 -44px;
  font: bold 13px "Open Sans";
  text-align: center;
  line-height: 13px;
  color: #F1F1F1;
  z-index: 10;
  background-position: 0 -13px;
}
/* line 316, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider span.canvas a.ui-slider-handle:focus {
  outline: none;
}
/* line 320, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .slider table {
  position: absolute;
  top: 27px;
  left: 28px;
  right: 28px;
}
/* line 329, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete {
  width: 227px;
  padding: 60px 18px 0 18px;
  margin: -90px 0 0 -27px;
  border: 1px solid #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  list-style: none;
}
/* line 337, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li {
  position: relative;
  width: 100%;
  padding: 0 0 9px;
}
/* line 341, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li a {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 0 8px 0;
  font: normal 15px "Open Sans";
}
/* line 347, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li a span {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #1b1c1c;
}
/* line 357, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li a:hover, body.tool .ui-autocomplete li a.ui-state-hover, body.tool .ui-autocomplete li a.ui-state-active {
  color: white;
}
/* line 357, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.tool .ui-autocomplete li a:hover span, body.tool .ui-autocomplete li a.ui-state-hover span, body.tool .ui-autocomplete li a.ui-state-active span {
  background: #FF3333;
}

/* line 366, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front {
  background-color: #191919;
}
/* line 369, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -281px;
  width: 562px;
}
/* line 376, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error header {
  display: block;
}
/* line 378, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error header h1 {
  margin: 0 0 0 12px;
}
/* line 383, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section {
  position: relative;
}
/* line 386, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section.empty {
  display: inline-block;
  width: 530px;
  height: 357px;
  margin: 0 16px;
  background: #000000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 393, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section.empty div.band {
  left: -62px;
  bottom: 40px;
}
/* line 394, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section.empty em {
  display: block;
  font: bold 250px "Open Sans";
  color: #333333;
  text-align: center;
  line-height: 290px;
}
/* line 397, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band {
  position: absolute;
  bottom: 74px;
  left: -48px;
  width: 508px;
  height: 44px;
  padding: 20px 75px;
  background-position: 0 0;
}
/* line 406, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band h2 {
  display: block;
  font: bold 15px "Open Sans";
  color: white;
  letter-spacing: 0;
  text-align: center;
  line-height: 15px;
}
/* line 407, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band p {
  margin: 3px 0 0 0;
  text-align: center;
  color: #7B1718;
}
/* line 411, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band p a {
  color: #7B1718;
  text-decoration: underline;
}
/* line 414, /Users/jmedina/Workspace/wri/app/css_src/partials/_page.scss */
body.front article.error section div.band p a:hover {
  color: #3F0B0C;
}

/* line 2, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map {
  width: 1100px;
  height: 550px;
  background: url("/img/home_map.jpg") repeat-x -70px -95px black;
}
/* line 7, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map circle {
  fill: #FF3333;
}
/* line 11, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map circle.ortho {
  fill: #971c20;
}
/* line 14, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map text {
  opacity: 0;
  fill: #FFF;
  color: #FFF;
  font: bold 20px sans-serif;
}
/* line 20, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.bubble_map text.small {
  fill: #FFF;
  color: #FFF;
  font: 10px sans-serif;
}

/* line 27, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 35, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .map {
  width: 100%;
  height: 100%;
}
/* line 41, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .cartodb_logo {
  display: block;
  position: absolute;
  bottom: 7px;
  left: 70px;
  width: 69px;
  height: 27px;
  background: url("/img/sprite.png") no-repeat right -1182px;
}
/* line 51, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.layer_editor {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 21;
}
/* line 58, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.layer_editor .layer_raster {
  display: block;
  width: 22px;
  height: 23px;
  background: url("../img/layers_editor.png") no-repeat 0 0;
}
/* line 64, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.layer_editor .layer_google_maps {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/layers_editor.png") no-repeat 0 -23px;
}
/* line 73, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 50px;
  z-index: 10;
}
/* line 82, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a {
  display: block;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  background: url("../img/icons/zoom.png") no-repeat 0 0;
}
/* line 89, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_in:hover {
  background-position: -26px 0px;
}
/* line 94, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out {
  background-position: 0 -26px;
}
/* line 96, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out:hover {
  background-position: -26px -26px;
}
/* line 106, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.crosshair {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 111, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container div.crosshair img {
  margin-left: -7px;
  margin-top: -7px;
}
/* line 118, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text {
  position: absolute;
  display: none;
  top: 100px;
  left: 100px;
  width: 193px;
  height: 80px;
}
/* line 128, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .top {
  padding: 18px 18px 0 18px;
  width: 100%;
  background: url("/img/sprite.png") left -1469px no-repeat;
  height: 0px;
}
/* line 135, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .center {
  padding: 0px 18px 0 18px;
  width: 100%;
  background: url("/img/sprite.png") left -1480px no-repeat;
  float: left;
}
/* line 141, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .bottom {
  padding: 0px 18px 18px 18px;
  width: 100%;
  background: url("/img/sprite.png") left -1515px no-repeat;
  float: left;
  height: 48px;
}
/* line 149, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text h1.name {
  font: bold 13px "WhitneyBookRegular","Myriad Pro";
  color: #333333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  letter-spacing: -1px;
  padding-bottom: 5px;
}
/* line 156, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text h1.name a {
  color: #333333;
  text-decoration: none;
}
/* line 161, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .close {
  float: right;
  width: 12px;
  height: 17px;
  background: url("/img/sprite.png") right -1258px no-repeat;
}
/* line 167, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text #add_protected {
  float: left;
  width: auto;
  height: 30px;
  margin: 10px 0 0 0px;
  padding: 0 0 0 11px;
  background: url("/img/sprite.png") -2px -453px no-repeat;
  font: bold 13px "WhitneyBold";
  color: white;
  text-transform: uppercase;
  background: url("/img/sprite.png") 0 -790px no-repeat;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=180, Strength=1);
  text-shadow: 0 1px 0 #3c7d7d;
  text-decoration: none;
}
/* line 181, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text #add_protected span {
  float: left;
  width: auto;
  height: 14px;
  padding: 8px 12px 8px 0;
  background: url("/img/sprite.png") right -820px no-repeat;
}
/* line 189, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .popup_text #add_protected:hover {
  text-decoration: underline;
}
/* line 193, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .area_popup {
  position: absolute;
  /*display: none;*/
  top: 0;
  left: 0;
  width: 150px;
  height: 30px;
}
/* line 200, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .area_popup h1, .map_container .area_popup h2 {
  font-size: 16px;
  background: #E33;
}
/* line 206, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .search {
  display: none;
  position: absolute;
  top: 25px;
  right: 190px;
  width: 192px;
  height: 25px;
  z-index: 10;
  padding: 5px 0px 3px 8px;
  background: url("/img/sprite.png") no-repeat 0 -1858px;
}
/* line 216, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .search h1 {
  margin: 0;
  padding: 0;
  display: inline;
  text-transform: uppercase;
  font: bold 13px "WhitneyBookRegular","Myriad Pro";
  color: #333333;
  letter-spacing: -1px;
}
/* line 225, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .search input {
  outline: none;
  width: 105px;
  display: inline;
  border: 0;
  font: normal 13px "Helvetica";
}
/* line 232, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .search a {
  text-decoration: none;
}
/* line 237, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers {
  display: none;
  position: absolute;
  top: 20px;
  right: 23px;
  width: 224px;
  z-index: 100;
}
/* line 245, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers a.view {
  float: right;
  display: block;
  width: auto;
  height: 33px;
  padding: 0 0 0 15px;
  background: url("/img/sprite.png") no-repeat 0 -1035px;
  text-decoration: none;
}
/* line 254, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers a.view span {
  float: left;
  height: 13px;
  margin: 0;
  padding: 11px 32px 9px 5px;
  font: normal 13px "WhitneyBookRegular","Myriad Pro";
  color: #333333;
  background: url("/img/sprite.png") no-repeat right -1035px;
  text-indent: 0px;
  text-decoration: none;
}
/* line 265, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers a.view span strong {
  font: bold 13px "WhitneyBold","Myriad Pro";
}
/* line 271, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show {
  position: absolute;
  top: 21px;
  right: 0;
  display: none;
  width: 224px;
  z-index: -1;
}
/* line 279, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show span.top {
  float: right;
  width: 100%;
  height: 12px;
  background: url("/img/sprite.png") no-repeat right -2311px;
}
/* line 286, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul {
  float: right;
  width: 212px;
  padding: 0 6px 6px;
  margin: 0;
  list-style: none;
  text-align: left;
  background: url("/img/sprite.png") no-repeat right bottom;
}
/* line 295, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul:last-child {
  border: none;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 300, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li {
  padding: 5px 9px;
  border: none;
  border-bottom: 1px solid #F2F2F2;
  font: normal 13px "Helvetica Neue";
  color: #333333;
}
/* line 307, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li span.color {
  width: 7px;
  height: 7px;
  background: url("/img/sprite.png") no-repeat -224px -2491px;
  margin-right: 10px;
  display: inline-block;
}
/* line 317, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.carbon {
  background: url("/img/sprite.png") no-repeat -224px -2312px;
}
/* line 320, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.protected_areas {
  background: url("/img/sprite.png") no-repeat -224px -2342px;
}
/* line 323, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.carbon_sequestration {
  background: url("/img/sprite.png") no-repeat -224px -2372px;
}
/* line 326, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.restoration_potential {
  background: url("/img/sprite.png") no-repeat -224px -2401px;
}
/* line 329, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.forest_status {
  background: url("/img/sprite.png") no-repeat -224px -2432px;
}
/* line 332, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.KBA {
  background: url("/img/sprite.png") no-repeat -224px -2462px;
}
/* line 340, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.last {
  border: none;
}
/* line 344, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li:hover {
  background: url("/img/sprite.png") no-repeat -270px -1372px;
  background-color: #EDEDED;
  cursor: pointer!important;
}
/* line 350, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled {
  font-weight: bold;
}
/* line 354, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.moving {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
/* line 360, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul a.expand {
  display: block;
  width: 100%;
  height: 9px;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  background: url("/img/sprite.png") no-repeat 0 -1444px;
}
/* line 368, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul a.expand:hover {
  background-position: 0 -1452px;
}
/* line 376, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers.open a.view {
  background-position: left -1072px;
}
/* line 379, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers.open a.view span {
  background-position: right -1072px;
}
/* line 384, /Users/jmedina/Workspace/wri/app/css_src/partials/_map.scss */
.map_container .layers.open .show {
  display: block;
}
