/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* line 37, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 38, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
h2 {
  font: bold 52px "Open Sans";
  color: white;
  letter-spacing: -3px;
  line-height: 56px;
}

/* line 39, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
p {
  font: normal 15px "Open Sans";
  color: white;
}
/* line 39, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
p.bigger {
  font-size: 23px;
}

/* line 41, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
.left {
  float: left;
}

/* line 42, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
.right {
  float: right;
}

/* line 43, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
.margin10 {
  margin-top: 10px;
}

/* line 44, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
.margin300 {
  margin-top: 300px;
}

/* line 14, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* logos */
/* icons */
/* line 63, ../../icons */
.icons-sprite, .icons-crosshair_map, .icons-handle, .icons-help, .icons-lens, .icons-list, .icons-list_green, .icons-zoom, body.tool article.subheader form input[type="submit"], body.tool footer.slider span.canvas a.ui-slider-handle {
  background: url('/img/icons-s8320cbd8be.png') no-repeat;
}

/* line 60, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-crosshair_map {
  background-position: 0 0;
}

/* line 60, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-handle {
  background-position: 0 -13px;
}

/* line 60, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-help {
  background-position: 0 -54px;
}

/* line 60, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-lens {
  background-position: 0 -62px;
}

/* line 60, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-list {
  background-position: 0 -76px;
}

/* line 60, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-list_green {
  background-position: 0 -83px;
}

/* line 60, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-zoom {
  background-position: 0 -90px;
}

/* layout */
/* line 27, ../../layout */
.layout-sprite, .layout-black_hack {
  background: url('/img/layout-se7ca794376.png') no-repeat;
}

/* line 60, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.layout-black_hack {
  background-position: 0 0;
}

/* Golden ratio scale from http://modularscale.com/scale/?px1=12&px2=48&ra1=1.618&ra2=0
---------------------------------------- */
/* line 37, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 38, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
h2 {
  font: bold 52px "Open Sans";
  color: white;
  letter-spacing: -3px;
  line-height: 56px;
}

/* line 39, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
p {
  font: normal 15px "Open Sans";
  color: white;
}
/* line 39, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
p.bigger {
  font-size: 23px;
}

/* line 41, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
.left {
  float: left;
}

/* line 42, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
.right {
  float: right;
}

/* line 43, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
.margin10 {
  margin-top: 10px;
}

/* line 44, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_base.scss */
.margin300 {
  margin-top: 300px;
}

/* line 9, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 16, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 22, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
h4 {
  font: bold 13px "Open Sans";
  color: #999999;
  text-transform: uppercase;
}

/* line 24, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
a, a:active, a:visited {
  color: #666666;
  text-decoration: none;
}

/* line 25, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
a:hover {
  color: white;
}

/* line 27, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 31, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 40, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 45, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 52, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 57, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool {
  background-color: #000;
  /* LAYOUT */
  /* HEADER */
  /* HOME SUBHEADER */
  /* COUNTRIES LIST */
  /* SLIDER */
}
/* line 119, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool .container {
  position: relative;
  width: 100%;
}
/* line 124, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool .inner {
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
}
/* line 131, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool header {
  padding: 20px 0;
  overflow: hidden;
}
/* line 134, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool header h1 {
  float: left;
}
/* line 135, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool header nav {
  float: right;
  margin: 19px 0 0 0;
}
/* line 138, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool header nav a {
  height: 18px;
  margin: 0 0 0 5px;
  padding: 4px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: normal 17px "Open Sans";
  color: white;
  letter-spacing: -1px;
}
/* line 147, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool header nav a:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
/* line 154, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.subheader section.title {
  width: 755px;
}
/* line 157, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form {
  position: relative;
  width: 253px;
  margin: 64px 0 0;
}
/* line 162, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form input[type="text"] {
  width: 222px;
  height: 19px;
  padding: 11px 22px 11px 7px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: none;
  font: normal 17px "Open Sans";
  line-height: normal;
  color: white;
}
/* line 172, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form input[type="text"]:focus {
  outline: none;
}
/* line 176, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form input[type="submit"] {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 14px;
  height: 14px;
  background-position: 0 -62px;
  border: none;
}
/* line 184, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.subheader form input[type="submit"]:focus {
  outline: none;
}
/* line 192, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries {
  width: 100%;
  padding: 0 0 90px;
  letter-spacing: -4px;
}
/* line 197, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 255px;
  margin-right: 20px;
  letter-spacing: 0;
}
/* line 202, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column section.column:last-child {
  margin: 0;
}
/* line 204, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
}
/* line 209, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li {
  position: relative;
  width: 100%;
  padding: 0 0 9px;
}
/* line 213, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 0 8px 0;
  font: normal 15px "Open Sans";
}
/* line 219, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a span {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #1b1c1c;
}
/* line 227, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a:hover span {
  background: #FF3333;
}
/* line 228, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a.over {
  position: absolute;
  left: 0;
  bottom: 29px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 230px;
  padding: 0 0 0 3px;
  z-index: 20;
  background: url("/img/layout/black_hack.png") repeat-y;
}
/* line 238, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a.over:hover span {
  color: white;
}
/* line 240, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li a.over span {
  position: relative;
  margin: 0;
  padding: 0 5px 2px 0;
  background-color: #000000;
  z-index: 15;
  color: #CCCCCC;
  font: normal 17px "Open Sans";
  line-height: 24px;
  letter-spacing: 0px;
  white-space: pre-wrap;
  word-spacing: 3px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 256, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool article.countries section.column ul li p.over {
  position: absolute;
  left: 0;
  bottom: 9px;
  padding: 1px 5px 3px 5px;
  background-color: #000000;
  z-index: 15;
  color: #666666;
  font: normal 13px "Open Sans";
  line-height: normal;
  letter-spacing: -1px;
  white-space: pre-wrap;
  word-spacing: 3px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 277, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool footer.slider {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 20px;
  margin: 0;
  height: 29px;
  z-index: 100;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #cacaca));
  background-image: -webkit-linear-gradient(#f3f3f3, #cacaca);
  background-image: -moz-linear-gradient(#f3f3f3, #cacaca);
  background-image: -o-linear-gradient(#f3f3f3, #cacaca);
  background-image: -ms-linear-gradient(#f3f3f3, #cacaca);
  background-image: linear-gradient(#f3f3f3, #cacaca);
}
/* line 288, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool footer.slider span.canvas {
  position: relative;
  display: block;
  height: 29px;
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 294, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool footer.slider span.canvas a.ui-slider-handle {
  position: absolute;
  width: 89px;
  height: 30px;
  top: -34px;
  left: 0;
  padding: 11px 0 0 0;
  margin: 0 0 0 -44px;
  font: bold 13px "Open Sans";
  text-align: center;
  line-height: 13px;
  color: #F1F1F1;
  z-index: 10;
  background-position: 0 -13px;
}
/* line 308, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool footer.slider span.canvas a.ui-slider-handle:focus {
  outline: none;
}
/* line 312, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_page.scss */
body.tool footer.slider table {
  position: absolute;
  top: 27px;
  left: 28px;
  right: 28px;
}

/* line 3, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.ie7 .map_container {
  height: 100%;
}

/* line 7, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.ie7 .main {
  height: 100%;
}

/* line 11, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 19, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .map {
  width: 100%;
  height: 100%;
}
/* line 25, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .cartodb_logo {
  display: block;
  position: absolute;
  bottom: 7px;
  left: 70px;
  width: 69px;
  height: 27px;
  background: url("/img/sprite.png") no-repeat right -1182px;
}
/* line 35, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.layer_editor {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 21;
}
/* line 42, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.layer_editor .layer_raster {
  display: block;
  width: 22px;
  height: 23px;
  background: url("../img/layers_editor.png") no-repeat 0 0;
}
/* line 48, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.layer_editor .layer_google_maps {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/layers_editor.png") no-repeat 0 -23px;
}
/* line 57, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 50px;
  z-index: 10;
}
/* line 66, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a {
  display: block;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  background: url("../img/icons/zoom.png") no-repeat 0 0;
}
/* line 73, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_in:hover {
  background-position: -26px 0px;
}
/* line 78, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out {
  background-position: 0 -26px;
}
/* line 80, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.zoom_control a.zoom_out:hover {
  background-position: -26px -26px;
}
/* line 90, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.crosshair {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 95, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container div.crosshair img {
  margin-left: -7px;
  margin-top: -7px;
}
/* line 102, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text {
  position: absolute;
  display: none;
  top: 100px;
  left: 100px;
  width: 193px;
  height: 80px;
}
/* line 112, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .top {
  padding: 18px 18px 0 18px;
  width: 100%;
  background: url("/img/sprite.png") left -1469px no-repeat;
  height: 0px;
}
/* line 119, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .center {
  padding: 0px 18px 0 18px;
  width: 100%;
  background: url("/img/sprite.png") left -1480px no-repeat;
  float: left;
}
/* line 125, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .bottom {
  padding: 0px 18px 18px 18px;
  width: 100%;
  background: url("/img/sprite.png") left -1515px no-repeat;
  float: left;
  height: 48px;
}
/* line 133, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text h1.name {
  font: bold 13px "WhitneyBookRegular","Myriad Pro";
  color: #333333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  letter-spacing: -1px;
  padding-bottom: 5px;
}
/* line 140, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text h1.name a {
  color: #333333;
  text-decoration: none;
}
/* line 145, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text .close {
  float: right;
  width: 12px;
  height: 17px;
  background: url("/img/sprite.png") right -1258px no-repeat;
}
/* line 151, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text #add_protected {
  float: left;
  width: auto;
  height: 30px;
  margin: 10px 0 0 0px;
  padding: 0 0 0 11px;
  background: url("/img/sprite.png") -2px -453px no-repeat;
  font: bold 13px "WhitneyBold";
  color: white;
  text-transform: uppercase;
  background: url("/img/sprite.png") 0 -790px no-repeat;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=180, Strength=1);
  text-shadow: 0 1px 0 #3c7d7d;
  text-decoration: none;
}
/* line 165, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text #add_protected span {
  float: left;
  width: auto;
  height: 14px;
  padding: 8px 12px 8px 0;
  background: url("/img/sprite.png") right -820px no-repeat;
}
/* line 173, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .popup_text #add_protected:hover {
  text-decoration: underline;
}
/* line 177, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .area_popup {
  position: absolute;
  /*display: none;*/
  top: 0;
  left: 0;
  width: 150px;
  height: 30px;
}
/* line 184, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .area_popup h1, .map_container .area_popup h2 {
  font-size: 16px;
  background: #E33;
}
/* line 190, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .search {
  display: none;
  position: absolute;
  top: 25px;
  right: 190px;
  width: 192px;
  height: 25px;
  z-index: 10;
  padding: 5px 0px 3px 8px;
  background: url("/img/sprite.png") no-repeat 0 -1858px;
}
/* line 200, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .search h1 {
  margin: 0;
  padding: 0;
  display: inline;
  text-transform: uppercase;
  font: bold 13px "WhitneyBookRegular","Myriad Pro";
  color: #333333;
  letter-spacing: -1px;
}
/* line 209, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .search input {
  outline: none;
  width: 105px;
  display: inline;
  border: 0;
  font: normal 13px "Helvetica";
}
/* line 216, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .search a {
  text-decoration: none;
}
/* line 221, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers {
  display: none;
  position: absolute;
  top: 20px;
  right: 23px;
  width: 224px;
  z-index: 100;
}
/* line 229, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers a.view {
  float: right;
  display: block;
  width: auto;
  height: 33px;
  padding: 0 0 0 15px;
  background: url("/img/sprite.png") no-repeat 0 -1035px;
  text-decoration: none;
}
/* line 238, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers a.view span {
  float: left;
  height: 13px;
  margin: 0;
  padding: 11px 32px 9px 5px;
  font: normal 13px "WhitneyBookRegular","Myriad Pro";
  color: #333333;
  background: url("/img/sprite.png") no-repeat right -1035px;
  text-indent: 0px;
  text-decoration: none;
}
/* line 249, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers a.view span strong {
  font: bold 13px "WhitneyBold","Myriad Pro";
}
/* line 255, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show {
  position: absolute;
  top: 21px;
  right: 0;
  display: none;
  width: 224px;
  z-index: -1;
}
/* line 263, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show span.top {
  float: right;
  width: 100%;
  height: 12px;
  background: url("/img/sprite.png") no-repeat right -2311px;
}
/* line 270, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul {
  float: right;
  width: 212px;
  padding: 0 6px 6px;
  margin: 0;
  list-style: none;
  text-align: left;
  background: url("/img/sprite.png") no-repeat right bottom;
}
/* line 279, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul:last-child {
  border: none;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 284, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li {
  padding: 5px 9px;
  border: none;
  border-bottom: 1px solid #F2F2F2;
  font: normal 13px "Helvetica Neue";
  color: #333333;
}
/* line 291, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li span.color {
  width: 7px;
  height: 7px;
  background: url("/img/sprite.png") no-repeat -224px -2491px;
  margin-right: 10px;
  display: inline-block;
}
/* line 301, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.carbon {
  background: url("/img/sprite.png") no-repeat -224px -2312px;
}
/* line 304, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.protected_areas {
  background: url("/img/sprite.png") no-repeat -224px -2342px;
}
/* line 307, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.carbon_sequestration {
  background: url("/img/sprite.png") no-repeat -224px -2372px;
}
/* line 310, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.restoration_potential {
  background: url("/img/sprite.png") no-repeat -224px -2401px;
}
/* line 313, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.forest_status {
  background: url("/img/sprite.png") no-repeat -224px -2432px;
}
/* line 316, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled span.color.KBA {
  background: url("/img/sprite.png") no-repeat -224px -2462px;
}
/* line 324, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.last {
  border: none;
}
/* line 328, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li:hover {
  background: url("/img/sprite.png") no-repeat -270px -1372px;
  background-color: #EDEDED;
  cursor: pointer!important;
}
/* line 334, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.enabled {
  font-weight: bold;
}
/* line 338, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul li.moving {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
/* line 344, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul a.expand {
  display: block;
  width: 100%;
  height: 9px;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  background: url("/img/sprite.png") no-repeat 0 -1444px;
}
/* line 352, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers div.show ul a.expand:hover {
  background-position: 0 -1452px;
}
/* line 360, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers.open a.view {
  background-position: left -1072px;
}
/* line 363, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers.open a.view span {
  background-position: right -1072px;
}
/* line 368, /Users/javi/wrk/viz/wri/wri/app/css_src/partials/_map.scss */
.map_container .layers.open .show {
  display: block;
}

@media print {
  /* line 10, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, /Users/javi/.rvm/gems/ruby-1.9.2-p180@imazon/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
