
<script type="carto" id="border_style">

@sans:"DejaVu Sans Book";
@adm1_line_color:#FFF;
@adm1_line_glowColor:#000;

#country_attributes_live {


    //#country_attributes_live
    [lid=0] {
        line-color:#FFF;
        line-width:2;
        polygon-opacity:0;
        polygon-fill: #242A30;

        ::glow{
            line-color:#000;
            line-opacity:0.1;
            line-width:7;
        }
    }

    //#admin1_attributes_live
     [lid=1] {

          line-color: @adm1_line_color; 
 
  
        [zoom<=4] { 
            line-opacity: 1; line-width:0.5; line-dasharray:2,5; 
        } 
        [zoom<6]{ 
            line-opacity: 1; line-width:1; line-dasharray:4,5; 
        } 
        [zoom>=6]{ 
            line-opacity: 1; line-width:2; 
        } 
         polygon-opacity:1;
         polygon-fill: transparent;
        ::glow{ 
            line-color: @adm1_line_glowColor;
            line-opacity:0.1;
            line-width:4;
        }
        [shape_area > 0.6] {
        ::labels[zoom<=6]{
            text-name:"[name_1]"; 
            text-face-name:@sans;
            text-halo-radius:2;
            text-fill:#FFF;
            text-halo-fill:rgba(0,0,0,0.75);
            text-allow-overlap:true; 
            text-avoid-edges:true;
            text-placement-type:simple;
            [zoom=6]{ text-size:13; } 
            [zoom=5]{ text-size:11; } 

        }
       }
    }
}

</script>

<script type="carto" id="selected_countries_pas">

#selected_countries_pas[is_point=0] {
    line-color:#594;
    line-width:0;
    polygon-opacity:1;
    polygon-fill:#333;
    polygon-pattern-file:url(/home/ubuntu/tilemill/pas_b.png);
}

</script>

<script type="carto" id="rivers">
#rivers {
  [zoom<=6]{
    line-width:0;
  }
  [zoom>=8]{
    line-width:2;
  }
  line-color:#168;
  line-opacity:0.4;
}
</script>

<script type="carto" id="places">

@sans:"DejaVu Sans Book";

#places[zoom>=7] {
  text-name:"[name]";
  text-face-name:@sans;
  text-size:12;
  text-halo-radius:1;
  text-fill:#FFF;
  text-halo-fill:rgba(0,0,0,0.75);
  text-allow-overlap:true;
  text-dy: -7px;

  marker-fill:#FFF;
  marker-line-width:0;
  marker-opacity:0.68;
  marker-width:3px;
  marker-placement:point;
  marker-type:ellipse;
  marker-allow-overlap:true;

}
</script>

