<div class="map_container" id="main_map">
    <div class="map"></div>

    <!-- gradient! -->
    <div class="mamufas"></div>

    <!-- zoom-control -->
    <div class="zoom_control">
      <a href="#zoom_in" class="zoom_in">+</a>
      <a href="#zoom_out" class="zoom_out">-</a>
      <a href="#full_screen" class="fullscreen">Fullscreen map</a>
    </div>
    <!-- end zoom control -->

    <div class="crosshair">
        <img src="/img/icons/crosshair_map.png" />
    </div>

    <div class="tiles_info"><span></span></div>

    <div class="layers">
        <ul>
        </ul>
    </div>

    <a class="cartodb_logo" href="http://cartodb.com"></a>
    <div class="area_popup">
        <h1>Amazonas</h1>
        <h2>72 events since Jan</h2>
    </div>
</div>
