{% extends "base.html" %}
{% load webdesign %}

{% block container %}

  <div class="slider"></div>

  <div class="background_map">
    {% include "_map.html" %} 
  </div>



  <div class="container">
  
    <div class="float_elements">
      <span class="bar l top"></span>
      <span class="bar r top"></span>
      <a href="#todo" class="pag right">&#8594; </a>
      <a href="#todo" class="pag left">&#8592; </a>
    </div>


    <header class="country inner">
      <h1 class="left">
        <a href="/">
          <img src="/img/logos/wri_black.png" alt="WORLD RESOURCES INSTITUTE" title="WORLD RESOURCES INSTITUTE"/>
        </a>
      </h1>
      <nav class="right">
        <span id="continent_drop" class="select left"></span>
        <a class="right" href="/about">About</a>
        <span id="stories_drop"class="select right">Stories</span>
        <form class="right">
          <input id="autocomplete" type="text" placeholder="Seach for a country"/>
          <input type="submit" value=""/>
        </form> 
      </nav>
    </header>

    <article id="country_info" class="country">
      <h2>{country}</h2>
      <div class="margin10">
        <div class="statistics">
          <p class="bigger">
            <span class="red inc_last_month_percent">
              <span class="inc_last_month"></span>% decrease 
            </span>
            in <span class="inc_date"></span></p>
        </div>
        <div class="statistics">
          <p class="bigger">
            <span class="green inc_last_six_months_percent">
              <span class="inc_last_six_months"></span>% increase
            </span> 
            in the last six months</p>
        </div>
        <!-- <div class="statistics">
          <span class="green" style="width:30%"></span>
          <p class="bigger">132 deforestation events since January, 1st</p>
        </div> 
        -->
      </div>
      <div id="graph">
      </div>
      <div class="content">
        <h4 class="margin45 lighter">{country}’S SITUATION</h4>
        <p class="darker">{description}</p>
        <h4 class="margin45 lighter">{country}’S MOST DEFORESTED REGIONS</h4>
        <ul class="countries">
          <!-- todo: loader -->
        </ul>
        <h4 class="margin45 lighter">ALSO...</h4>
        <ul class="stories long"></ul>
      </div>
    </article>

    <span class="bar darker bottom"></span>

    <footer class="inner">
      <div class="left">
        <ul>
          <li>
            <h4>A PROJECT BY</h4>
            <a href="#todo">
              <img src="/img/logos/wri_grey.png" alt="WORLD RESOURCES INSTITUTE" title="WORLD RESOURCES INSTITUTE"/>
            </a>
          </li>
          <li>
            <h4>KNOW MORE</h4>
            <nav>
              <a href="#todo">Support</a>
              <a href="#todo">Contact us</a>
              <a href="#todo">Feedback</a>
            </nav>
          </li>
        </ul>
      </div>
      <div class="right">
        <h4>CAREFULLY MADE BY</h4>
        <a href="http://www.vizzuality.com"><img src="/img/logos/vizzuality.png" alt="Vizzuality" title="Vizzuality"/></a>
      </div>
    </footer>
  </div>
</div>

  {% include "_cartodb_styles.html" %}
  {% include "_backbone_templates.html" %}

{% endblock %}

{% block js %}
  <script>
    function init() {
      App(function(app) {
          var wri = new app.WRI();
          wri.run();
          //debug
          window.wri = wri;
          window._app= app;
      });
    }
    $(document).ready(function() {
      init();
    });
  </script>
{% endblock %}
