{% extends "base.html" %}

{% block container %}

  <div class="container">
    <div class="inner">
      <header class="home">
        <h1 class="left">
          <a href="/">
            <img src="/img/logos/wri.png" alt="WORLD RESOURCES INSTITUTE" title="WORLD RESOURCES INSTITUTE"/>
          </a>
        </h1>
        <nav class="right">
          <a href="/stories">Stories</a>
          <a href="/about">About</a>
        </nav>
      </header>

      <article class="subheader">
        <div class="inner">
          <section class="title left">
            <h2>Para, Brazil saw the most deforestation in the World in December 2012.</h2>
            <p class="bigger margin10">Browse the map or select a country from the list below.</p>
          </section>
          <form class="right">
            <input type="text" placeholder="Seach for a country"/>
            <input type="submit" value=""/>
          </form>
        </div>      
      </article>
    </div>
  </div>

  <div class="container">
    <div class="inner">
      <div class="buble_map">
      </div>
    </div>
  </div>


  <div class="container margin300">
    <div class="inner">
      <article class="countries">
        <section class="column">
          <h4>featured histories</h4>
          <ul>
            <li>
              <img src="http://placehold.it/243x153" alt="x" title="x"/>
              <a href="#todo" class="over"><span>Good Tidings from Tropical Forests: Large-Scale Clearing Has Fallen Sharply</span></a>
              <p class="over">Brazil</p>
            </li>
            <li>
              <img src="http://placehold.it/243x153" alt="x" title="x"/>
              <a href="#todo" class="over"><span>Good Tidings from Tropical Forests: Large-Scale Clearing Has Fallen Sharply</span></a>
              <p class="over">Brazil</p>
            </li>
          </ul>
        </section>
        <section class="column">
          <h4>south america</h4>
          <ul id="south_america">
          </ul>
        </section>
        <section class="column">
          <h4>middle america</h4>
          <ul id="middle_america">
          </ul>
        </section>
        <section class="column">
          <h4>south east asia</h4>
          <ul id="south_east_asia">
          </ul>
        </section>
      </article>
    </div>
  </div>


  <footer class="slider"></footer>

{% endblock %}

{% block js %}
  <script>
    function init() {
      App(function(app) {
        var wri = new app.WRIHome();
        wri.run();
        //debug
        window.wri = wri;
        window._app= app;
      });
    }
    $(document).ready(function() {
      init();
    });
  </script>
{% endblock %}
