{% extends "base.html" %}

{% block container %}

  <div class="container">
    <div class="inner padding100">
      <header class="home">
        <h1 class="left">
          <a href="/">
            <img src="/img/logos/wri_black.png" alt="WORLD RESOURCES INSTITUTE" title="WORLD RESOURCES INSTITUTE"/>
          </a>
        </h1>
        <nav class="right">
          <a href="/about" class="right">About</a>
          <span class="select right">Stories</span>
        </nav>
      </header>

      <article class="subheader">
          <section class="title left">
	  <h2>Find out where tropical deforestation happened last month</h2>
            <p class="bigger margin10">Browse the map or select a country from the list below.</p>
          </section>
          <form class="right">
            <input id="autocomplete" type="text" placeholder="Seach for a country"/>
            <input type="submit" value=""/>
          </form>
      </article>

      <div class="bubble_map"></div>

      <article class="countries">
        <section class="column">
          <h4>featured histories</h4>
          <ul id="featured_stories" class="stories">
            <!-- todo: loading -->
          </ul>
        </section>
        <section class="column">
          <h4>latin america</h4>
          <ul id="south_america" class="countries">
          </ul>
        </section>
        <section class="column">
	  <h4>africa</h4>
          <ul id="africa" class="countries">
          </ul>
        </section>
        <section class="column">
          <h4>southeast asia</h4>
          <ul id="south_east_asia" class="countries">
          </ul>
        </section>
      </article>
    </div>
  </div>

  <footer class="slider"></footer>
  {% include "_backbone_templates.html" %}


{% endblock %}

{% block js %}
  <script>
    function init() {
      App(function(app) {
        var wri = new app.WRIHome();
        wri.run();
        //debug
        window.wri = wri;
        window._app= app;
      });
    }
    $(document).ready(function() {
      init();
    });
  </script>
{% endblock %}
